

:root{
    --blue: #0188DF;
    -black: #354046;
    
    
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
}

*::selection{
    background: var(black);
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background-image:url("images/backgroundpatiennt.png"); 
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    z-index: 1000;
    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header a{
    color: black;
    
}
header a:hover{
    color: blue;
}
header .container .logo{
    font-size: 3rem;
    
}
header .container .logo span{
    color: var(blue);
}
header .nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .dropbtn{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
    margin: 0 1rem;
}
.nav{
    display: flex;
}




header .nav ul li{
    margin: 0 1rem;
    
}
header .nav ul a{
    font-size: 2rem;
}

header .fa-bars{
    font-size: 3.5rem;
    color: var(blue);
    cursor: pointer;
    display: none;
}
header .fa-times{
    transform: rotate(180deg);
}


/*login forum*/
.center button{
    background:#4889da;
    color:#f5f5f5;
    font-size: 2rem;
    border-radius: 50px;
    padding: 1px 6px;
    margin: 0px 7px;
    
}

.popup-overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  z-index:1;
  background:rgba(0,0,0,0.5);
  display:none;
}
.popup {
  position:absolute;
  top:-150%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.15);
  width:300px;
  height:440px;
  background:#f5f5f5;
  z-index:1500;
  opacity:0;
  box-shadow:5px 5px 3px rgba(0,0,0,0.2);
  transition:transform 300ms ease-in-out,opacity 300ms ease-in-out;
}
body.showLoginForm .popup-overlay {
  display:block;
}
body.showLoginForm .popup {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup .popup-close {
  position:absolute;
  top:-10px;
  right:-10px;
  width:40px;
  height:40px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  border-radius:50%;
  cursor:pointer;
}
.popup .form .avatar {
  margin:30px 0px 20px;
  text-align:center;
}
.popup .form .avatar img {
  width:120px;
  border-radius:50%;
}
.popup .form .header {
  text-align:center;
  font-size:20px;
  font-weight:600;
  color:#222;
  margin:20px 0px;
}
.popup .form .element {
  padding:8px 20px;
}
.popup .form .element label {
  display:block;
  font-size:14px;
  color:#222;
  margin-bottom:5px;
}
.popup .form .element input {
  width:100%;
  padding:8px 10px;
  box-sizing:border-box;
  outline:none;
  border:1px solid #aaa;
  background:#eee;
  border-radius:5px;
}
.popup .form .element button {
  margin-top:5px;
  width:100%;
  padding:10px 0px;
  text-transform:uppercase;
  outline:none;
  border:none;
  font-size:15px;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
  background:#4889da;
  color:#f5f5f5;
}
/*end of login forum*/





@media (max-width:768px){
    html{
        font-size: 55%
    }
    header .fa-bars{
        display: block;
    }

    
    header .nav{
        position: fixed;
        left: 50%;
        
        top: -100rem;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
        border-radius: .5rem;
        border: .3rem solid var(blue) !important;
        background: #fff;
        width: 95%;
        opacity: 0;
        
            
    }
    
    header .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
            
    }
    
    header .nav ul li{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    
    header .nav .center button{
        font-size: 3rem;
    }
    
    header .nav ul li a{
        font-size: 3rem;
        display: block;
    }
    header .nav-toggle{
        top: 50%;
        opacity: 1;
    }
}


