<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginpa</servlet-name>
        <servlet-class>controller.loginpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>controller.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginadmin</servlet-name>
        <servlet-class>controller.loginadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regadmin</servlet-name>
        <servlet-class>controller.regadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginrec</servlet-name>
        <servlet-class>controller.loginrec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regrec</servlet-name>
        <servlet-class>controller.regrec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logindoc</servlet-name>
        <servlet-class>controller.logindoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regdoc</servlet-name>
        <servlet-class>controller.regdoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepa</servlet-name>
        <servlet-class>controller.updatepa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletepa</servlet-name>
        <servlet-class>controller.deletepa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedoc</servlet-name>
        <servlet-class>controller.updatedoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletedoc</servlet-name>
        <servlet-class>controller.deletedoc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginpa</servlet-name>
        <url-pattern>/loginpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginadmin</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regadmin</servlet-name>
        <url-pattern>/regadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginrec</servlet-name>
        <url-pattern>/loginrec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regrec</servlet-name>
        <url-pattern>/regrec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logindoc</servlet-name>
        <url-pattern>/logindoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regdoc</servlet-name>
        <url-pattern>/regdoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepa</servlet-name>
        <url-pattern>/updatepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletepa</servlet-name>
        <url-pattern>/deletepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedoc</servlet-name>
        <url-pattern>/updatedoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletedoc</servlet-name>
        <url-pattern>/deletedoc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
